selector p {
    margin-top: 0
}

selector p a:hover {
    text-decoration: underline
}

selector button {
    cursor: pointer
}

selector .elementor-icon-box-content h3,
selector .elementor-icon-box-content h4,
selector .elementor-image-box-content h3,
selector .elementor-image-box-content h4 {
    margin-top: 0;
    margin-bottom: 8px
}

selector .gtranslate_wrapper .gt_float_switcher {
    box-shadow: none
}

selector .gtranslate_wrapper .gt_float_switcher .gt_options {
    position: absolute;
    top: 32px;
    background: var(--e-global-color-gffffff, #fff);
    right: 0;
    min-width: 200px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1)
}

selector .gt_float_switcher,
selector .gt_float_switcher .gt-selected {
    background: 0 0
}

selector .gt_float_switcher .gt-selected .gt-current-lang span.gt_float_switcher-arrow {
    display: none
}

selector .gtranslate_wrapper .gt_float_switcher .gt-selected .gt-current-lang {
    padding: 0;
    font-size: 14px;
    color: #fff
}

selector .gtranslate_wrapper .gt_float_switcher img {
    width: 18px
}

selector .gtranslate_wrapper .gt_float_switcher .gt_options a {
    font-size: 14px
}

selector .gtranslate_wrapper .gt_float_switcher .gt_options a:hover {
    background-color: var(--e-global-color-g434343, #434343)
}

selector .gtranslate_wrapper {
    height: 24px;
    position: relative !important
}

selector .gt_float_switcher {
    position: relative;
    overflow: visible
}

selector .elementor-field-group .elementor-field-textual:focus {
    box-shadow: none
}

selector .cky-btn-revisit-wrapper {
    background-color: var(--e-global-color-accent) !important
}

selector .cky-btn-revisit-wrapper .cky-btn-revisit,
selector .cky-btn-revisit-wrapper .cky-btn-revisit:focus,
selector .cky-btn-revisit-wrapper .cky-btn-revisit:hover {
    color: inherit;
    background: 0 0;
    border: none
}

selector .cky-modal button:focus,
selector .cky-modal button:hover {
    color: inherit;
    background: 0 0
}

selector .cky-notice-btn-wrapper .cky-btn {
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px;
    font-weight: 500
}

selector .elementor-pagination {
    margin-bottom: 16px;
}

ul,
ol {
    padding-left: 1.75em;
}

selector .elementor-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

selector .page-numbers {
    padding: 9px 14px;
    transition: background-color .3s;
    border-radius: 5px;
    color: #141414;
    display: block;
}

selector .page-numbers.current {
    color: #fff;
    background: var(--e-global-color-accent);
}

selector .page-numbers:hover:not(.current):not(span) {
    color: #141414;
    background: var(--e-global-color-gf0f0f0, #f0f0f0);
}

selector .rank-math-breadcrumb p {
    margin: 0;
    font-size: 0.875em;
}

selector .elementor-search-form--skin-minimal:focus-within {
    outline-style: none;
}

#reset-toc .elementor-toc__list-item{
    position: relative;
}
#reset-toc .elementor-toc__header{
    display: none;
}
#reset-toc .elementor-toc__body{
    box-shadow: inset 2px 0 0 0 rgba(0,0,0,.1)
}
#reset-toc .elementor-toc__body .list-item-text{
    color: var(--e-global-color-g8c8c8c,#8c8c8c);
}
#reset-toc .elementor-toc__body .list-item-text:hover{
    text-decoration: underline;
}
#reset-toc .elementor-toc__body .list-item-text:before {
    content:'';
    display:block;
    width: 0px;
    background-color: var(--e-global-color-accent);
    position: absolute;
    height: 100%;
    left: -16px;
    z-index: 99;
}
#reset-toc .elementor-toc__body .list-item-text:hover:before {
    width: 2px;
}
#reset-toc .elementor-toc__body .list-item-text.item-active:before {
    width: 2px;
}