/* 不想要内阴影 */
selector .elementor-field-group .elementor-field-textual:focus {
    box-shadow: none;
}

/* 修复输入框与按钮相连圆角问题 */
selector .elementor-element input:has(+ button):not([type=" button"]):not([type=" submit"]) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

selector .elementor-element input:has(+ button):not([type=" button"]):not([type=" submit"])+button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.gtranslate_wrapper .gt_float_switcher {
    box-shadow: none
}

.gtranslate_wrapper .gt_float_switcher .gt_options {
    position: absolute;
    top: 2em;
    background: var(--e-global-color-gffffff, #fff);
    left: -14px;
    min-width: 200px
}

.gtranslate_wrapper .gt_float_switcher .gt-selected .gt-current-lang {
    padding: 0;
    font-size: 14px
}

.gtranslate_wrapper .gt_float_switcher img {
    width: 18px
}

.gtranslate_wrapper .gt_float_switcher .gt_options a {
    font-size: 14px
}

.gtranslate_wrapper .gt_float_switcher .gt_options a:hover {
    background-color: var(--e-global-color-g434343, #434343)
}

.gtranslate_wrapper {
    height: 24px;
}